# Node
*.log
*.log.*
.tmp/
tmp
node_modules
.github/

out/
dist/
code.js
.vs/
.vscode/
.alt-tst/
repomix.config.json
iziflow-repomix.xml
GEMINI.md
CLAUDE.md
.claude/
tests/
.codellm/
AGENTS.md
iziflow-plugin.code-workspace
.gemini-ignore

iziflow-plugin.code-workspace