/* ./src/theme.css */
:root {
    --foreground-primary-default: var(--primary-50);
    --foreground-secondary-default: var(--zinc-700);
    --foreground-destructive-default: var(--red-500);
    --foreground-success-default: var(--emerald-700);
    --foreground-warning-default: var(--yellow-700);
    --foreground-disabled-default: var(--zinc-400);
    --foreground-default: var(--zinc-950);
    --foreground-muted: var(--zinc-500);
    --foreground-accent: var(--zinc-900);
    --background-primary-default: var(--primary-900);
    --background-primary-default-hover: rgba(24, 24, 27, 0.800000011920929);
    --background-primary-light: var(--primary-50);
    --background-primary-light-hover: var(--primary-100);
    --background-secondary-default: var(--zinc-100);
    --background-destructive-default: var(--red-600);
    --background-destructive-default-hover: rgba(220, 38, 38, 0.800000011920929);
    --background-destructive-light: rgba(220, 38, 38, 0.10000000149011612);
    --background-destructive-light-hover: rgba(220, 38, 38, 0.11999999731779099);
    --background-success-default: var(--emerald-600);
    --background-warning-default: var(--yellow-500);
    --background-warning-default-hover: var(--yellow-600);
    --background-warning-light: rgba(234, 179, 8, 0.10000000149011612);
    --background-warning-light-hover: rgba(234, 179, 8, 0.11999999731779099);
    --background-success-default-hover: var(--emerald-700);
    --background-success-light: rgba(5, 150, 105, 0.10000000149011612);
    --background-success-light-hover: rgba(5, 150, 105, 0.11999999731779099);
    --background-disabled-default: var(--neutral-400);
    --background-default: var(--white);
    --background-card: var(--white);
    --background-popover: var(--white);
    --background-input: var(--zinc-200);
    --background-muted: var(--zinc-100);
    --background-accent: var(--zinc-100);
    --border-primary-default: var(--zinc-400);
    --border-destructive-default: var(--red-500);
    --border-success-default: var(--emerald-700);
    --charts-chart-1-opacity100: rgba(42, 157, 144, 1);
    --charts-chart-1-opacity80: rgba(42, 157, 144, 0.800000011920929);
    --charts-chart-1-opacity50: rgba(42, 157, 144, 0.5);
    --charts-chart-1-opacity10: rgba(42, 157, 144, 0.10000000149011612);
    --charts-chart-2-opacity100: rgba(231, 110, 80, 1);
    --charts-chart-2-opacity80: rgba(231, 110, 80, 0.800000011920929);
    --charts-chart-2-opacity50: rgba(231, 110, 80, 0.5);
    --charts-chart-2-opacity10: rgba(231, 110, 80, 0.10000000149011612);
    --charts-chart-3-opacity100: rgba(39, 71, 84, 1);
    --charts-chart-3-opacity80: rgba(39, 71, 84, 0.800000011920929);
    --charts-chart-3-opacity50: rgba(39, 71, 84, 0.5);
    --charts-chart-3-opacity10: rgba(39, 71, 84, 0.10000000149011612);
    --charts-chart-4-opacity100: rgba(232, 196, 104, 1);
    --charts-chart-4-opacity80: rgba(232, 196, 104, 0.800000011920929);
    --charts-chart-4-opacity50: rgba(232, 196, 104, 0.5);
    --charts-chart-4-opacity10: rgba(232, 196, 104, 0.10000000149011612);
    --charts-chart-5-opacity100: rgba(244, 164, 98, 1);
    --charts-chart-5-opacity80: rgba(244, 164, 98, 0.800000011920929);
    --charts-chart-5-opacity50: rgba(244, 164, 98, 0.5);
    --charts-chart-5-opacity10: rgba(244, 164, 98, 0.10000000149011612);
    --border-default: var(--zinc-200);
    --icon-default: var(--zinc-950);
    --icon-muted: var(--zinc-500);
    --icon-accent: var(--zinc-900);
    --icon-primary-default: var(--primary-50);
    --icon-secondary-default: var(--zinc-700);
    --icon-destructive-default: var(--red-500);
    --icon-success-default: var(--emerald-700);
    --icon-warning-default: var(--yellow-700);
    --icon-disabled-default: var(--zinc-400);
    --radius-radius-none: 0px;
    --radius-radius-xs: 2px;
    --radius-radius-sm: 4px;
    --radius-radius-md: 8px;
    --radius-radius-lg: 12px;
    --radius-radius-xl: 16px;
    --radius-radius-xxl: 24px;
    --radius-radius-full: 400px;
    --padding-padding-none: 0px;
    --padding-padding-xxs: 8px;
    --padding-padding-xs: 12px;
    --padding-padding-sm: 16px;
    --padding-padding-md: 20px;
    --padding-padding-lg: 24px;
    --padding-padding-xl: 32px;
    --padding-padding-xxl: 40px;
    --padding-padding-3xl: 48px;
    --padding-padding-4xl: 64px;
    --spacing-spacing-none: 0px;
    --spacing-spacing-xxs: 2px;
    --spacing-spacing-xs: 4px;
    --spacing-spacing-sm: 8px;
    --spacing-spacing-md: 12px;
    --spacing-spacing-lg: 16px;
    --spacing-spacing-xl: 24px;
    --spacing-spacing-xxl: 32px;
    --spacing-spacing-3xl: 40px;
    --spacing-spacing-4xl: 64px;
    --border-warning-default: var(--yellow-600);
    --white: var(--white);
    --black: var(--black);
    --icon-destructive-on-destructive: var(--red-300);
    --icon-destructive-hover---on-destructive: var(--white);
  }

  :dark {
    --foreground-primary-default: var(--primary-900);
    --foreground-secondary-default: var(--zinc-100);
    --foreground-destructive-default: var(--red-900);
    --foreground-success-default: var(--emerald-600);
    --foreground-warning-default: var(--yellow-600);
    --foreground-disabled-default: var(--zinc-600);
    --foreground-default: var(--zinc-50);
    --foreground-muted: var(--zinc-400);
    --foreground-accent: var(--zinc-50);
    --background-primary-default: var(--primary-50);
    --background-primary-default-hover: rgba(250, 250, 250, 0.800000011920929);
    --background-primary-light: var(--primary-900);
    --background-primary-light-hover: var(--primary-950);
    --background-secondary-default: var(--zinc-800);
    --background-destructive-default: var(--red-800);
    --background-destructive-default-hover: rgba(153, 27, 27, 0.800000011920929);
    --background-destructive-light: rgba(220, 38, 38, 0.15000000596046448);
    --background-destructive-light-hover: rgba(220, 38, 38, 0.20000000298023224);
    --background-success-default: var(--emerald-800);
    --background-warning-default: var(--yellow-500);
    --background-warning-default-hover: var(--yellow-600);
    --background-warning-light: rgba(234, 179, 8, 0.15000000596046448);
    --background-warning-light-hover: rgba(234, 179, 8, 0.20000000298023224);
    --background-success-default-hover: var(--emerald-900);
    --background-success-light: rgba(5, 150, 105, 0.15000000596046448);
    --background-success-light-hover: rgba(5, 150, 105, 0.20000000298023224);
    --background-disabled-default: var(--neutral-400);
    --background-default: var(--zinc-950);
    --background-card: var(--zinc-950);
    --background-popover: var(--zinc-950);
    --background-input: var(--zinc-700);
    --background-muted: var(--zinc-800);
    --background-accent: var(--zinc-800);
    --border-primary-default: var(--zinc-300);
    --border-destructive-default: var(--red-900);
    --border-success-default: var(--emerald-600);
    --charts-chart-1-opacity100: rgba(38, 98, 217, 1);
    --charts-chart-1-opacity80: rgba(38, 98, 217, 0.800000011920929);
    --charts-chart-1-opacity50: rgba(38, 98, 217, 0.5);
    --charts-chart-1-opacity10: rgba(38, 98, 217, 0.10000000149011612);
    --charts-chart-2-opacity100: rgba(226, 54, 112, 1);
    --charts-chart-2-opacity80: rgba(226, 54, 112, 1);
    --charts-chart-2-opacity50: rgba(226, 54, 112, 1);
    --charts-chart-2-opacity10: rgba(226, 54, 112, 1);
    --charts-chart-3-opacity100: rgba(232, 140, 48, 1);
    --charts-chart-3-opacity80: rgba(232, 140, 48, 1);
    --charts-chart-3-opacity50: rgba(232, 140, 48, 1);
    --charts-chart-3-opacity10: rgba(232, 140, 48, 1);
    --charts-chart-4-opacity100: rgba(175, 87, 219, 1);
    --charts-chart-4-opacity80: rgba(175, 87, 219, 1);
    --charts-chart-4-opacity50: rgba(175, 87, 219, 1);
    --charts-chart-4-opacity10: rgba(175, 87, 219, 1);
    --charts-chart-5-opacity100: rgba(46, 184, 138, 1);
    --charts-chart-5-opacity80: rgba(46, 184, 138, 1);
    --charts-chart-5-opacity50: rgba(46, 184, 138, 1);
    --charts-chart-5-opacity10: rgba(46, 184, 138, 1);
    --border-default: var(--zinc-700);
    --icon-default: var(--zinc-50);
    --icon-muted: var(--zinc-400);
    --icon-accent: var(--zinc-50);
    --icon-primary-default: var(--primary-900);
    --icon-secondary-default: var(--zinc-100);
    --icon-destructive-default: var(--red-900);
    --icon-success-default: var(--emerald-600);
    --icon-warning-default: var(--yellow-600);
    --icon-disabled-default: var(--zinc-600);
    --radius-radius-none: 0px;
    --radius-radius-xs: 2px;
    --radius-radius-sm: 4px;
    --radius-radius-md: 8px;
    --radius-radius-lg: 12px;
    --radius-radius-xl: 16px;
    --radius-radius-xxl: 24px;
    --radius-radius-full: 400px;
    --padding-padding-none: 0px;
    --padding-padding-xxs: 8px;
    --padding-padding-xs: 12px;
    --padding-padding-sm: 16px;
    --padding-padding-md: 20px;
    --padding-padding-lg: 24px;
    --padding-padding-xl: 32px;
    --padding-padding-xxl: 40px;
    --padding-padding-3xl: 48px;
    --padding-padding-4xl: 64px;
    --spacing-spacing-none: 0px;
    --spacing-spacing-xxs: 2px;
    --spacing-spacing-xs: 4px;
    --spacing-spacing-sm: 8px;
    --spacing-spacing-md: 12px;
    --spacing-spacing-lg: 16px;
    --spacing-spacing-xl: 24px;
    --spacing-spacing-xxl: 32px;
    --spacing-spacing-3xl: 40px;
    --spacing-spacing-4xl: 40px;
    --border-warning-default: var(--yellow-600);
    --white: var(--white);
    --black: var(--black);
    --icon-destructive-on-destructive: var(--red-300);
    --icon-destructive-hover---on-destructive: var(--white);
  }